<div class="questionaire">
    <div class="row step1">
        <div class="col-sm-6 question">
            Эта статья была для Вас полезна?
        </div>
        <div class="col-sm-6 answer">
            <div class="button-questionaire">ДА</div>
            <div class="button-questionaire">НЕТ</div>            
        </div>                
    </div>
    <div class="row step2">
        <div class="col-xs-12">
            Спасибо за отзыв!
        </div>              
    </div>    
</div>
<a href="{{ site.baseurl }}/"><img src="/img/logo-gray.png" height="35" alt={{ site.title }} class="ddm-logo-footer"></a>
<p class="copyright">Copyright © 2017 «DigitalDataManager» Все права защищены.</p>
