<div class="questionaire">
    <div class="row step1">
        <div class="col-sm-6 question">
            Was this page helpful?
        </div>
        <div class="col-sm-6 answer">
            <div class="button-questionaire">
                YES
            </div>
            <div class="button-questionaire">
                NO
            </div>
        </div>
    </div>
    <div class="row step2">
        <div class="col-xs-12">
            Thanks for the feedback!
        </div>
    </div>
</div>
<a href="{{ site.baseurl }}/"><img src="/img/segmentstream-logo.png" height="47" alt={{ site.title }} class="ddm-logo-footer"></a>
<p class="copyright">Copyright © {{ 'now' | date: "%Y" }} SegmentStream Ltd. All rights reserved.</p>
