<div class="row">
    <div class="col-sm-3 col-xs-12">
        <div id="menu-toggle"></div>
        <a target="_blank" href="https://admin.ddmanager.ru/"><div id="login-button"></div></a>      
        <a class="brand" href="{{ site.baseurl }}/"><img src="/img/ss-logo@2x.png" height="35" alt={{ site.title }}
                class="ddm-logo">
        </a>
        {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
    </div>

    <div class="col-sm-offset-5 col-sm-4 authorization">
        <ul class="top-nav">
            <li><a id="button-auth" target="_blank" href="https://admin.ddmanager.ru/">Login</a></li>
        </ul>
    </div>    
</div>

